{% load static %}

<head> <title>ClipBoard</title>
    <link href="{% static "/css/todoapp.css" %}" rel="stylesheet">
    <link href="{% static "/css/prism.css" %}" rel="stylesheet" />

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<body>
    <header>
        <h1 class="logo">ClipBoard</h1>
        <div class="new_paste"><a class="npaste", href="{% url 'index' %}">+ new paste</a></div>
    </header>

<div class="main">
    <h1 class="h1title">{{todo.title}}</h1>
    <b><time>{{todo.date}}</time></b>
    <div class="hlinks">
        <b>Paste URL:</b> <a href="{{ request.build_absolute_uri }}">"{{ request.build_absolute_uri }}"</a>
    </div> 
    <pre class="code"><code class="language-{{todo.lang}}" >{{todo.text}}</code></pre>                             
    
</div>
<aside>
    <div class="asideleft"><label>Recent Paste's:</label>
    <ul>
        {% for td in todos %}
        <li><a class="ali", href="{% url 'index'%}p/{{td.link_code}}">{{td.title}}</a></li>
    {% endfor %}
    </ul>
    </div>
</aside>
<script src="{% static "/js/prism.js" %}"></script>

</body>