{% load static %}

<head> <title>ClipBoard</title>
    <link href="{% static "/css/todoapp.css" %}" rel="stylesheet">
    <link href="{% static "/css/prism.css" %}" rel="stylesheet" />
</head>

<body>
    <header>
        <h1 class="logo">ClipBoard</h1>
        <div class="new_paste"><a class="npaste", href="http://127.0.0.1:8000">+ new paste</a></div>
    </header>

<div class="main">
    <h1 class="h1title">{{todo.title}}</h1>
    <b><time>{{todo.date}}</time></b>
    <div class="hlinks">
        <b>Paste URL:</b> <a href="http://127.0.0.1:8000/p/{{todo.link_code}}">http://127.0.0.1:8000/p/{{todo.link_code}}</a>
    </div> 
    <pre><code class="language-{{todo.lang}}" >{{todo.text}}</code></pre>                                 
    
</div>
<aside>
    <div class="asideleft"><label>Recent Paste's:</label>
    <ul>
        {% for td in todos %}
        <li><a class="ali", href="http://127.0.0.1:8000/p/{{td.link_code}}">{{td.title}}</a></li>
    {% endfor %}
    </ul>
    </div>
</aside>
<script src="http://127.0.0.1:8000/static/js/prism.js"></script>
</body>